@page

@using ACE_App.Models

@model ACEModel

@{

    Layout = "~/Pages/Shared/_Layout.cshtml";

    ViewBag.Title = "ACE Home";

}
<style>
    .form-control {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
}

textarea.form-control {
    resize: none;
}

select.form-control {
    width: 100%;
    padding: 10px;
}
    .row {
        padding: 2px;
        margin: 2px;
    }


    .requiredicon {
        color: red !important;
    }


    /*  .m2 {
            margin-top: 8px !important;
        } */

    .form-control {
        border-radius: 4px !important;
    }

    .chosen-choices {
        border-radius: 4px !important;
    }

    .font-red{
        color:red !important;
        font-size:11px;
        justify-content:normal;
    }

    .chosen-container {
        width: 280px !important;
    }

    /*for accordion */

    .panel {
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.panel-heading {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.panel-body {
    padding: 15px;
    border-top: 1px solid #ddd;
}

.panel-body p {
    margin-bottom: 10px;
}
   /* Button styling */
.btn {
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
}

    .col-md-3 p {
        color: red;
        font-size: 11px !important;
        text-align: justify;
    }

    .input-group-btn {
        margin: 20px;
        font-size: large;
    }

</style>
@* <div class="row">

    <div class="col-lg-4 col-lg-offset-4"> *@

@using (Html.BeginForm("Create", "ACE", FormMethod.Post, new { @class = "aceForm" }))

{

    {
        <h2 class="text-center"><b>ACE - The AI driven COST ESTIMATION</b></h2>

            <div class="panel panel-primary ">

            <div class="panel-heading">

                <h4 class="panel-title"><b>Basic Search</b></h4>

            </div>

        </div>

        <div class="row">
            <div class="input-group">
                <div class="col-md-1">Provide a high level Project description</div>
                <div class="col-md-6">
                        @Html.TextAreaFor(model => model.UserInput, new { @class = "form-control", rows = "4", placeholder="I want to create a banking app such that...",Style = "min-width:100%;resize:none;height:120px;margin:20px" })                  
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <br />
                <h4><strong>Example</strong></h4>
                <p class="font-red" style="font-style:italic"> Create an API using Python and Oracle to integrate it with front-end using agile approach </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>



        <div id="accordion" class="pannel-group">

            @*Create panel*@

            <div class="panel panel-primary ">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        @*//link head with body use #panelBody and use 2 data dash attribute toggle is collapse and parent is #accordion*@

                        <span href="#panelBody" data-toggle="collapse" data-parent="#accordion">

                            @*    <span class="glyphicon glyphicon-menu-down"></span>
                            *@
                            &nbsp;<strong> Advanced search</strong>

                        </span>

                    </h4>

                </div>

                @*//to keep all panel body collapse*@

                <div id="panelBody" class="panel-collapse collapse">

                    @*//if we use in it will be opened by default*@

                    <div class="panel-body">

                        @*------------------------start of accordion menu ---------------------------*@

                        <div class="row m2">

                            <div class="col-md-2"></div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Project Complexity</label>

                                </div>


                                <div class="row">
                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Team Size</label>

                                </div>

                                <div class="row">

                                    @Html.TextBoxFor(x => x.team_size, new { @class = "form-control" })

                                </div>

                            </div>

                            <div class="col-md-2"></div>

                        </div>

                        <div class="row m2">

                            <div class="col-md-2"></div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Technology Stack</label>

                                </div>

                                <div class="row">
                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Developement Methodology</label>

                                </div>

                                <div class="row">
                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })

                                </div>

                            </div>

                            <div class="col-md-2"></div>

                        </div>

                        <div class="row m2">

                            <div class="col-md-2"></div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Project Domain</label>

                                </div>

                                <div class="row">
                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })


                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Project TimeLine</label>

                                </div>

                                <div class="row">

                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })


                                </div>

                            </div>

                            <div class="col-md-2"></div>

                        </div>

                        <div class="row m2">

                            <div class="col-md-2"></div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Risk Factor</label>

                                </div>

                                <div class="row">
                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="row">

                                    <label>Quality Metrics</label>

                                </div>

                                <div class="row">
                                    @Html.TextBoxFor(x => x.project_timeline, new { @class = "form-control" })


                                </div>

                            </div>

                            <div class="col-md-2"></div>

                        </div>

                        <div class="row m2">

                            <div class="col-md-2"></div>

                            <div class="col-md-8">

                                <div class="row">

                                    <label>External Factors</label>

                                </div>

                                <div class="row">

                                    @Html.TextAreaFor(model => model.external_factor, new { @class = "form-control", Placeholder = "External Factor", Style = "min-width:87%;resize:none" })


                                </div>

                            </div>

                            <div class="col-md-2"></div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row m2">

            <div class="col-md-2"></div>

            <div class="col-md-4">
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-4 pull-left">

                <input type="submit" id="submitButton" value="Submit" class="btn btn-primary" />

                <input type="reset" id="cancelButton" value="Cancel" onclick="clearInput()" class="btn btn-secondary" />


            </div>

        </div>


        <div class="Container">

            @if (ViewBag.DisplayErrorMessage == true)
            {
                <div class="input-group">

                    <span class="input-group-btn">

                        <label>@Html.DisplayFor(model => model.ErrorMessage)</label>

                    </span>

                </div>
               
            }
            else{
                <div class="input-group">

                    <span class="input-group-btn">

                       <strong> Cost Estimation predicted by AI: </strong> <label>@Html.DisplayFor(model => model.MLOutput)</label>

                    </span>

                </div>



  @*               <div class="input-group">

                <span class="input-group-btn">

                   <strong>The Estimated Time is: </strong><label>@Html.DisplayFor(model => model.Time)</label>

                </span>

             </div> *@
            }
        </div>

    }


}





@*  </div>

    </div>
*@




@* @section Scripts{
*@
@*  @Scripts.Render("~/bundles/chosen") ; *@

<script type="text/javascript">
    // in the page load make  $('#Submit').Disable = false; based on Viewbag.EnableSubmit
  $(document).ready(function () {
    // Event handler for collapse elements
    $('.collapse').on('shown.bs.collapse', function () {
        $(this).parent().find('.glyphicon-menu-down').removeClass('glyphicon-menu-down').addClass('glyphicon-menu-up');
    }).on('hidden.bs.collapse', function () {
        $(this).parent().find('.glyphicon-menu-up').removeClass('glyphicon-menu-up').addClass('glyphicon-menu-down');
    });

    
    $('.aceForm').on('submit', function () {
       
        $('#submitButton').prop("disabled", true);
@*       
        $('#submitButton').css("cursor", "not-allowed"); *@

        $(this).submit();
    });
});
  </Script>